@media (max-width: 1100px) {
  .content{
    width: 100%;
  }
  
  .card-container{
    flex-direction: column;
    height: auto;
  }

  .card-title{
    width: 100%;
    order: 1;
  }

  .card-text{
    width: 100%;
    order: 2;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
  
  }

}

@media (min-width: 1100px) {
  .content{
    width: 80%;
  } 

  .card-container{
    flex-direction: row;
    height: 50vh;
  }

  .card-title{
    width: 50%;
  }

  .card-text{
    width: 50%;
    align-items: center;
    padding: 20px 40px 20px 40px;
  }
}

* {
  box-sizing:border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0 0 0 0;
  background: #F2E9E4;
  background: linear-gradient(0deg, rgba(242, 233, 228, 1) 0%, rgba(201, 173, 167, 1) 50%, rgba(154, 140, 152, 1) 100%);
}

.container {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content{
  margin: auto;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.showcase{
  height: 50vh;
  background: url(../assets/fondo.jpg) no-repeat center center/cover;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.showcase h1{
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  font-size: 40px;
}

.showcase h2{
  font-weight: lighter;
  color: hsl(0, 0%, 75%);
}

.contact-container{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.contact{
  width: 80%;
  height: 80%;
  border-radius: 25px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact-text{
    grid-column: 2;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
}

.card-container{
  width: 100%;

  display: flex;


    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.card-title{
  /*background: #0BDA51;
  background: linear-gradient(0deg, rgba(11, 218, 81, 1) 0%, rgba(128, 255, 150, 1) 100%);*/
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text{
  font-size: 1.5rem;

  display: flex;

}
